@font-face {
    font-family: 'Brothers';
    src: url('../font/BrothersRegular.otf') format('opentype');
}

@font-face {
  font-family: 'Domine';
  src: url('../font/Domine-VariableFont_wght.ttf') format('truetype-variations');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #B2262B;
    --secondary-color: #111;
    --soft-pink: #F1E7D7;

    --min-header-height: 5rem;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: Domine;
    color: var(--secondary-color);
    font-size: 1.3rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: var(--min-header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    color: white;
    background-color: var(--secondary-color);
}

header .logo {
    font-family: Brothers;
    font-size: 2rem;
    background-color: var(--primary-color);
    padding: 0 1.5rem;
}

nav {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 3rem;
}

nav a {
    color: white;
}

nav a:hover {
    color: var(--primary-color);
}

main {
    margin-top: var(--min-header-height);
    padding: 3rem 0;
}